!.vscode
.DS_STORE

.env
node_modules
yarn-error.log
dist
built
package-lock.json
watchfiles.js


.yalc
yalc.lock
.env*

.now

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions