.colors {
	color: #fff;
	color: #fff;
	color: rgb(247, 229, 224);
	color: #f7e5e1;
	color: #f9f9f9;
	color: #d7dae1;
	color: #e5e5e5;
	color: #efefef;
	color: #ebebeb;
	color: #8686a7;
	color: #999;
	color: #939598;
	color: #444;
	color: #111;
	color: #000;
}
