.font-sizes {
	/* h5 */
	font-size: 8px;
	font-size: 9px;

	/* p */
	font-size: 10px;

	/* h4 */
	font-size: 12px;

	/* h3 */
	font-size: 20px;
	font-size: 22px;
	font-size: 24px;
	font-size: 25px;

	/* h2 */
	font-size: 30px;
	font-size: 32px;
	font-size: 38px;
	font-size: 40px;

	/* h1 */
	font-size: 56px;
	font-size: 60px;
}
